html {
    height: 100%;
    width: 100%;
    padding:0;
    margin:0;
    background-color: mediumpurple;
  }
  .item {
    text-align:center;
    justify-content: center;
    font-size:40px;
    font-family:cursive;
    color:white;
    background-color: black;
  }
  
  
  .p{
    color: darkblue;
    font-size:20px;
    font-family:cursive;
    text-align:center;
    justify-content: center;
  }
  
  .value {
    display: flex;
    align-items: center;
    color:black;
    background-color: deeppink;
    border: 2px solid #ccc;
    margin:auto;
    padding:10px;
    cursor: pointer;
    width: 40%;
  }
  
  .value-image {
    
    padding: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  
  .value-charactertics {
    align-items:center;
    flex: 1;
    padding: 10px;
    
  }
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
  
    
  }
  